body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 550px;
    height: 100%;
    top: 0;
}

.miniSidebar {
  position: absolute;
  left: 0px;
  width: 180px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #273440;
}

.sidebar {
    position: absolute;
    /*left: 0px;*/
    left: 180px;
    width: 370px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.glyphicon.glyphicon-shopping-cart {
  font-size: 30px;
  line-height: 2;
  color: white;
  left: 70px;
}

.miniSidebar > ul > li.active > a {
  border-radius: 0px;
  background-color: #4B9CAF;
  text-align:left;
}

.miniSidebar > ul > li:nth-child(2) > a {
  border-radius: 0px;
  color: white;
  text-align:left;
}

.miniSidebar > ul > li:nth-child(3) > a {
  border-radius: 0px;
  color: white;
  text-align:left;
}

.sidebar > nav > div {
  padding: 0px;
  position: relative;
}

.sidebar > nav > div > div.navbar-header > a {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

#dropdownMenu {
  border-radius: 0px;
  float: right;
  background-color: #4B9CAF;
  color: white;
  position: relative;
}

#searchForm {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#searchForm > button {
  display: inline-block;
  float: right;
  border-radius: 0px;
  height: 34px;
}

.sidebar > div:nth-child(3) {
  margin-top: 10px;
}

.sidebar > div:nth-child(3) > button {
  background-color: #ce375c;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 3px 6px;
  font-size: 12px;
  border: 0px;
  margin: 10px 0px 3px 0px;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 180px;
    width: 370px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 5px;
    padding: 10px 20px 15px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

#myModal > div > div {
  border-radius: 0px;
}

#pannelTitle {
  width:568.720px;
  height: 25px;
  background-color: #E1354F;
  color: white;
  vertical-align: middle;
}

#myModal > div > div > div.modal-body > div > div:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 15px;
}

#myModal > div > div > div.modal-body > div > div:nth-child(2) > div:nth-child(2) > div {
  float: right;
}

#myModal > div > div > div.modal-body > div > div:nth-child(2) > div:nth-child(2) > div > button {
  padding: 3px 6px;
}

#myModal > div > div > div.modal-body > div > div:nth-child(3) > div.col-md-2 > p{
  margin-bottom: 0px;
}

#myModal > div > div > div.modal-body > div > div:nth-child(4) {
  margin-top: 10px;
  margin-bottom: 10px;
}

#myModal > div > div > div.modal-body > div > div:nth-child(4) > div >p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#myModal > div > div > div.modal-body > div > div:nth-child(4) > div.col-md-4 > p:nth-child(1) {
  font-weight: bold;
}
#myModal > div > div > div.modal-body > div > div:nth-child(4) > div:nth-child(2) > p:nth-child(1) {
  font-weight: bold;
}
#myModal > div > div > div.modal-body > div > div:nth-child(4) > div:nth-child(3) > p:nth-child(1) {
  font-size: 80px;
  margin: 0px;
  color:  #2fa6aa;
}
#myModal > div > div > div.modal-body > div > div:nth-child(5) {
  font-weight: bold;
}
#myModal > div > div > div.modal-body > div > div:nth-child(6) {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-form .form-control {
    width: 247px;
  }
}

}

/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
    /*.item {
        background-color: blue;
    }*/
}

@media screen and (max-width: 479px) {
    /*.item {
        background-color: red;
    }*/
}
